# pnpm workspace ayarları
shamefully-hoist=true # workspace içindeki paketleri globalde kullanabilmek için
strict-peer-dependencies=false # peer dependencies'i kontrol etme (peer dependencies'i kontrol etmeyip, workspace içindeki paketleri kullan)
auto-install-peers=true # peer dependencies'i otomatik olarak yükle
prefer-workspace-packages=true # workspace içindeki paketleri kullan
save-workspace-protocol=false # workspace içindeki paketleri kullan (workspace içindeki paketleri kullan)
link-workspace-packages=true # workspace içindeki paketleri kullan
shared-workspace-lockfile=false # workspace içindeki paketleri kullan
hoist-pattern[]=* # workspace içindeki paketleri kullan
public-hoist-pattern[]=* # workspace içindeki paketleri kullan
node-linker=hoisted # workspace içindeki paketleri kullan