# pnpm workspace ayarları
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
save-workspace-protocol=false
link-workspace-packages=true
shared-workspace-lockfile=false
hoist-pattern[]=*
public-hoist-pattern[]=*
node-linker=hoisted 