PORT=4000

AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=4001

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=4002

PRODUCT_SERVICE_HOST=127.0.0.1
PRODUCT_SERVICE_PORT=4003

COURIER_SERVICE_HOST=127.0.0.1
COURIER_SERVICE_PORT=4004

ORDER_SERVICE_HOST=127.0.0.1
ORDER_SERVICE_PORT=4005