COURIER_HOST=127.0.0.1
COURIER_PORT=4004

# This was inserted by `prisma init`:

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=
